* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background: linear-gradient(180deg, #3c9f73, #aff700 50%, rgba(60,158,114,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}